@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --dark-bg-color:#1f2937;
    --hero-main-font-size:48px;
    --hero-main-text-color:#f9faf8;
    --hero-font-weight:900;
    --hero-secondary-text-size:18px;
    --hero-secondary-color:#e5e7eb;
    --header-logo-font-size:24px;
    --header-logo-text-color:#f9faf8;
    --btn-color:#3882f6;
    --cta-bg-color:#3882f6;
    --info-header-text-color:#1f2937;
    --info-header-font-size:36px;
    --info-header-font-weight:900;
    --quote-bg-color:#e5e7eb;
    --quote-font-size:36px;
    --quote-font-color:#1f2937;
    --quote-font-weight:light;
    --quote-font-style:italic;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}


.header{
    margin: 0 auto;
    background-color: var(--dark-bg-color);
}

.header .header-logo{
    font-size: var(--header-logo-font-size);
    color: var(--header-logo-text-color);
    font-weight: var(--hero-font-weight);
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
}

.ul-items{
    display: flex;
}

.list-item{
    list-style: none;
}

.list-item a{
    text-decoration: none;
    font-size: var(--hero-secondary-text-size);
    color: var(--hero-secondary-color);
}

.list-item +
.list-item {
    padding-left: 1rem;
}


.col{
    width: 80%;
    margin: 0 auto;
}